*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.w{
    width: 1000px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.head{
    margin-top:20px;
    
    box-shadow: 0 0 5px #1f2023;
}
.head img{
    height: 400px;
    
}
.head_nav{
    padding: 0 50px;
}
.head_nav a{
    display: block;
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.head_article{
    padding:20px 80px ;
    margin-bottom: 50px;
}

.head_article >h2{
    text-align: center;
}


.head_article>a{
    /* display: block; */
    line-height: 30px;
    
}
.head_article ul{
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.head_article .photo_list img{
    
    width: 200px;
    
    
}
.head_article .photo_list{
    margin-top: 100px;
    columns: 4;
    margin: 0;
    padding: 0;
}

