*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.w{
    width: 1000px;
    margin: 0 auto;
}

.head{
    margin-top:20px;
}
.head img{
    height: 400px;
    
}
.head_nav{
    padding: 0 50px;
}
.head_nav a{
    display: block;
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.head .head_article{
    padding:20px 50px ;
}

.head .head_article >h2{
    text-align: center;
}
